@model ProductVm
<style>
    /* Custom CSS for tiny image */
    .edit-img {
        width: 250px; /* Set the width of the image */
        height:350px; /* Set the height of the image */
    }
</style>

<div class="card shadow border-0 my-4">
    <div class="card-header bg-info bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="text-white py-2">Edit Product</h3>

            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form enctype="multipart/form-data" method="post" action="Edit">
            <input asp-for="Product.Id" hidden />
            <div class="border-1">
            </div>
            <div class="border pt-0 mt-1 ">
            </div>
            <div class="form-floating py-2 col-12">
                <input type="text" asp-for="Product.Title" class="form-control border-0 shadow" />
                <label asp-for="Product.Title" class="ms-2"> </label>
                <span asp-validation-for="Product.Title" class="text-danger"> </span>
            </div>


            <div class="form-floating py-2 col-12">
                <div class="row">
                    <div class="col-9">
                        <textarea asp-for="Product.Description" class="form-control border-0 shadow"> </textarea>
                        <label asp-for="Product.Description" class="ms-2"> </label>
                    </div>
                    <div class="col-3">
                        <img class="edit-img" src="~/images/product/@ViewBag.Img" />
                    </div>
                </div>

            </div>




            <div class="form-floating py-2 col-12">
                <input asp-for="Product.ISBN" class="form-control border-0 shadow" />
                <label asp-for="Product.ISBN" class="ms-2"> </label>
                <span asp-validation-for="Product.ISBN" class="text-danger"> </span>
            </div>


            <div class="form-floating py-2 col-12">
                <input asp-for="Product.Author" class="form-control border-0 shadow" />
                <label asp-for="Product.Author" class="ms-2"> </label>
                <span asp-validation-for="Product.Author" class="text-danger"> </span>
            </div>


            <div class="form-floating py-2 col-12">
                <input asp-for="Product.ListPrice" class="form-control border-0 shadow" />
                <label asp-for="Product.ListPrice" class="ms-2"> </label>
                <span asp-validation-for="Product.ListPrice" class="text-danger"> </span>
            </div>



            <div class="form-floating py-2 col-12">
                <input asp-for="Product.Price" class="form-control border-0 shadow" />
                <label asp-for="Product.Price" class="ms-2"> </label>
                <span asp-validation-for="Product.Price" class="text-danger"> </span>
            </div>

            <div class="form-floating py-2 col-12">
                <input asp-for="Product.Price50" class="form-control border-0 shadow" />
                <label asp-for="Product.Price50" class="ms-2"> </label>
                <span asp-validation-for="Product.Price50" class="text-danger"> </span>
            </div>


            <div class="form-floating py-2 col-12">
                <input asp-for="Product.Price100" class="form-control border-0 shadow" />
                <label asp-for="Product.Price100" class="ms-2"> </label>
                <span asp-validation-for="Product.Price100" class="text-danger"> </span>
            </div>

            <div class="form-floating py-2 col-12">
                <select asp-for="Product.CategoryId" class="form-control text-dark" asp-items="@Model.getCategories()">
                    <option disabled selected>Select Category</option>
                </select>
                <label asp-for="Product.CategoryId">Category</label>
            </div>

            <div class="form-floating py-2 col-12">
                <input name="Image" type="file" class="form-control border-0 shadow" />
                <label class="ms-2"> </label>
            </div>



            <div class="row pt-2">
                <div class="col-6 col-md-3 ">
                    <button type="submit" class="btn btn-outline-warning form-control">Update</button>
                </div>

                <div class="col-6 col-md-3">
                    <a asp asp-area="Admin" asp-controller="Product" asp-action="Index" class="btn btn-secondary form-control">
                        Back to List
                    </a>

                </div>
            </div>


        </form>

    </div>
</div>

@section Scripts{

    <script>

        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate mentions  tableofcontents footnotes mergetags autocorrect typography inlinecss markdown',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',

        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}
