@model DashboardVm
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h4>Dashboard</h4>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card bg-primary text-white h-100">
            <div class="card-body py-5">Total Number of Products</div>
            <div class="card-footer d-flex">
                @Model.ProductCount
                <span class="ms-auto">
                    <a asp-area="Admin" asp-controller="Product" asp-action="Index"><i class="bi bi-chevron-right"></i></a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-3">
        <div class="card bg-primary text-white h-100">
            <div class="card-body py-5">Total Number of Category</div>
            <div class="card-footer d-flex">
                @Model.CategoryCount
                <span class="ms-auto">
                    <a asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="bi bi-chevron-right"></i></a>
                </span>
            </div>
        </div>
    </div>
    @*    <div class="col-md-3 mb-3">
    <div class="card bg-success text-white h-100">
    <div class="card-body py-5">Success Card</div>
    <div class="card-footer d-flex">
    View Details
    <span class="ms-auto">
    <i class="bi bi-chevron-right"></i>
    </span>
    </div>
    </div>
    </div>
    <div class="col-md-3 mb-3">
    <div class="card bg-danger text-white h-100">
    <div class="card-body py-5">Danger Card</div>
    <div class="card-footer d-flex">
    View Details
    <span class="ms-auto">
    <i class="bi bi-chevron-right"></i>
    </span>
    </div>
    </div>
    </div>*@
</div>
